# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Logs
*.log
npm-debug.log*

# Node
node_modules/
frontend/node_modules/

# Build output
frontend/dist/

test_output/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
